[Desktop Entry]
Encoding=UTF-8
Name=Mobicoin
Comment=Mobicoin P2P Cryptocurrency
Comment[fr]=Mobicoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mobicoin, eşten eşe kriptografik sanal para birimi
Exec=mobicoin-qt %u
Terminal=false
Type=Application
Icon=mobicoin128
MimeType=x-scheme-handler/mobicoin;
Categories=Office;Finance;
